body {
    margin: 0;
    background: #ECE0D1;
    font-family: 'WorkSans', sans-serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding: 15px;

    position: relative;
}

nav button {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav button:hover {
    color: white;
}

nav button::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 5px;
    width: 0%;

    transition: all ease-in-out 250ms;
}

    nav button:hover::before {
        width: 73%;
    }


.name {
    font-size: 40px;
    margin-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container2 {
    width: 80%;
    margin: 0 auto;
}

btn btn-outline-primary {
    margin: 10px;
}
