

@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">EventsMedia</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Restaurants" asp-action="GetCity">Search a City</a></li>
                        <li><a asp-area="" asp-controller="AdventurePosts" asp-action="Create">Post and Adventure</a></li>
                        <li><a asp-area="" asp-controller="Eventful" asp-action="Index">Eventful</a></li>
                        <li><a asp-area="" asp-controller="AdventurePosts" asp-action="Index">Adventure Posts</a></li>
                        <li><a asp-area="" asp-controller="FavoriteEvents" asp-action="Index">Your Favorites</a></li>
                        <li><a asp-area="" asp-controller="AdventurePosts" asp-action="YourProfile">Your Profile</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
</body>
</html>
