@model EventsMedia.Models.Brands
@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            @Html.DisplayNameFor(model => model.BrandName)
        </tr>

    </thead>

        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.BrandName)
                </td>
            </tr>

        </tbody>
</table>


