@model EventsMedia.Models.ViewModel
@{
    ViewData["Title"] = "YourProfile";
    Layout = null;
}

<html>
<head>
    <link href="~/css/Profile.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    @*<script src="jquery.min.js" type="text/javascript"></script>*@
</head>
<body>
        <div class="container2">
            <div class="name">@Html.DisplayFor(modelitem => modelitem.User.FirstName) @Html.DisplayFor(modelitem => modelitem.User.LastName)</div>
        </div>
    
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="" class="1">Favorite Posts</a></li>
                    <li><a href="#" class="2">Liked Events</a></li>
                    <li><a href="#" class="3">Posted Adventures</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="favorite">

    </div>

</body>
</html>

<script type="text/javascript">


    $(document).ready(function () {
        $(".1").click(function () {
            var url = "/FavoriteEvents/Index";
            alert("hey");
            $.get(url, null, function (data) {
                $("#favorite").html(data);
            });
        });
    });




</script>
