@model EventsMedia.Models.ViewModel
@{
    ViewData["Title"] = "YourProfile";
    Layout = null;
}

<html>
<head>
    <link href="~/css/Profile.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-red.css" />
</head>
<body>
    <div>
        <div class="name">@Html.DisplayFor(modelitem => modelitem.User.FirstName) @Html.DisplayFor(modelitem => modelitem.User.LastName)</div>
    </div>

    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><button type="button" id="2" class="btn btn-outline-primary" style="font-size:20px; margin:10px; color:white;">Liked Adventures</button></li>
                    <li><button type="button" id="1" class="btn btn-outline-primary" style="font-size:20px; margin:10px; color:white;">Favorite Events</button></li>
                    <li><button type="button" id="3" class="btn btn-outline-primary" style="font-size:20px; margin:10px; color:white;">Posted Adventures</button></li>
                </ul>
                @*<div style="text-align:center;">
                    <button type="button" id="2" class="btn btn-outline-primary" style="font-size:20px; margin:10px; color:white;">Liked Adventures</button>
                    <button type="button" id="1" class="btn btn-outline-primary" style="font-size:20px; margin:10px; color:white;">Favorite Events</button>
                    <button type="button" id="3" class="btn btn-outline-primary" style="font-size:20px; margin:10px; color:white;">Posted Adventures</button>
                </div>*@
            </nav>
        </div>
    </header>
    

    <div style="padding:20px;"></div>
 

    <div class="favorite"></div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {
        $("#1").click(function () {
            $.ajax({
                type: 'GET',
                url: "/FavoriteEvents/Index",
                success: function (data) {
                    console.log("SUCCESS!");
                    console.log('data', data);
                    $(".favorite").html(data);
                },
                failure: function () {
                    console.log("Noooooo...");
                }
            });
        });
    });

    $(document).ready(function () {
        $("#2").click(function () {
            $.ajax({
                type: 'GET',
                url: "/Adventures/LikedPosts",
                success: function (data) {
                    console.log("SUCCESS!");
                    console.log('data', data);
                    $(".favorite").html(data);
                },
                failure: function () {
                    console.log("Noooooo...");
                }
            });
        });
    });

    $(document).ready(function () {
        $("#3").click(function () {
            $.ajax({
                type: 'GET',
                url: "/AdventurePosts/PostedAdventues",
                success: function (data) {
                    console.log("SUCCESS!");
                    console.log('data', data);
                    $(".favorite").html(data);
                },
                failure: function () {
                    console.log("Noooooo...");
                }
            });
        });
    });

</script>
