@model EventsMedia.Models.LikesTable

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.HiddenFor(model => model.AdventurePostId)
            @Html.HiddenFor(model => model.UserId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="AdventurePostId" class="control-label"></label>
                <select asp-for="AdventurePostId" class="form-control" asp-items="ViewBag.AdventurePostId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

